.workWithUsButton {
  color: white;
  background: #ffac12;
  border-radius: 0px 18px 0px 0px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.427179px;
}
.workWithUsButton:after {
  content: url("C:\Users\User\Desktop\Proiecte\React\ui-challenge\src\Images\Path-light.png");
}
.logo {
  max-width: 200px;
}
.menu-header {
  justify-content: flex-end;
}
@media only screen and (min-width: 600px) {
  .navbarDesktop {
    display: none;
  }
}
@media only screen and (min-width: 991px) {
  .burger-menu {
    display: none;
  }
}
.nav-item{
  margin: left 20px;
  color: white;
}